
.loginContainer {
  display: flex;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.leftBox {
  background-color: #ebe5e5;
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}


/* RIGHT SECTION */
.rightBox {
  justify-items: center;
  width: 50%;
  padding: 2rem;
  background: rgba(231, 223, 223, 0.582);
  box-sizing: border-box;
}

.formBox input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #6c0b0b;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.nameRow {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.nameRow input {
  flex: 1;
  margin-bottom: 0;
}

.formBox button {
  width: 100%;
  padding: 12px 15px;
  background-color:orange; 
  color: #150808;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.formBox button:hover {
  background-color: #e9a30c;
}

.formBox small {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #555;
  font-size: 0.9rem;
}

.formBox small a {
  color: blue;
  text-decoration: none;
}

.formBox small a:hover {
  text-decoration: underline;
}

.bottomLogin {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.bottomLogin a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.bottomLogin a:hover {
  font-size: large;
  text-decoration: underline;
}


 .rightBox h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: orange;
  
 }

 h2 {
 text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.rightBox {
  width: 50%;
  padding: 2rem;
  background: rgba(231, 223, 223, 0.582);
  box-sizing: border-box;
}


.rightBox h5 {
  color: orange;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.rightBox h2 {
  color: #2c2c72;
  margin: 0.5rem 0;
}

.rightBox p {
  color: black;
  font-size: 1rem;
}

.rightBox ul {
  margin-left: 1rem;
  color: black;
  font-size: 0.95rem;
}

.rightBox li {
  margin-bottom: 0.5rem;
}

.howButton {
  width: 15rem;
  background-color: orange;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



@media (min-width: 768px) {
  .loginContainer {
    padding: 40px;
    justify-content: center; 
    
  }

  .leftBox {
    margin-bottom: 0; 
    margin-right: 40px; 
  }

  .rightBox {
    flex: 1; 
      }

}

@media (min-width: 1200px) {
  .loginContainer {
    justify-content: center; 
  }

  .leftBox {
    max-width: 500px; 
  }

  .rightBox {
    max-width: 700px; 
  }
} 
   
